<div ng-controller="questionCtrl">

  <header>
    <h1>{{name}}</h1>
  </header>

  <form>
    <fieldset>
      <textarea readonly id="question" class="question">{{question}}</textarea>
      <textarea ng-model="data.answer" class="answer"></textarea>

      <button class="btn__load" ng-click="new()">{{'btn.skip'|trans}}</button>
      <button class="btn__save" ng-click="save(data)">{{'btn.confirm'|trans}}</button>
    </fieldset>
  </form>

</div>
