header {
	width: 100%;
	background-color: $d-blue;
	padding: 10px 0;
}

nav {
	a {
		color: #fff;
	    padding: 4px 10px;
	}
	ul {
		display: inline-flex;
	}
	li {
	    position: relative;
		float: left;
	}
}

@media only screen and (min-width: 360px) {
	ul.user {
		float: right;
	}
}

@media only screen and (min-width: 800px) {

}