header {
	h1 {
		text-align: center;
	}
}
.question {
  background: $shadow;
  color: #fff;
}
/* fieldset {
	width: 80%;
	border: none;
	margin: 0 auto;
	textarea, ul {
		width: 41%;
    margin: 0 2%;
    padding: 1%;
  }
  textarea {
    padding: 2%;
    height: 70px;
  }
  cite {
    bottom: 4px;
    position: relative;
  }
  .choose, .answer {
    float: right;
  }
  .btn__load, .btn__save {
    padding: 15px;
    font-size: 20px;
  }
  .btn__load {
    margin: 10px 0 0 10%;
  }
  .btn__save {
    float: right;
    margin: 10px 10% 0 0;
  }
  audio {
    width: 45%;
    padding: 2%;
  }
} */
li.course {
	margin:10px 0;
	button {
    float: right;
    width: 30%;
	}
	cite {
	  width: 60%;
	  float: left;
	}
}

